@model GestaoSalao.Models.Entity.Agendamento
@{
    Layout = null;
}

<div id="conteudo">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
        <h4 class="modal-title">Dados Agendamento</h4>
    </div>

    <div class="modal-body">
        <div class="ibox" id="ibox2">
            <div class="ibox-content">
                <div class="sk-spinner sk-spinner-double-bounce">
                    <div class="sk-double-bounce1"></div>
                    <div class="sk-double-bounce2"></div>
                </div>
                @{
                    var query = from state in ViewData.ModelState.Values
                                from error in state.Errors
                                select error.ErrorMessage;
                }

                @if (query.ToList().Any())
                {
                    <div style="padding-top: 15px;"></div>

                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <h3 id="msgRetorno" style="padding-top: 20px">Opa! Algo deu errado :(</h3>
                        @Html.ValidationSummary()

                    </div>
                }

                <form id="frmCadastro" method="POST">

                    <input type="hidden" id="idChave" name="Id" value="@Model.Id" />
                    <input type="hidden" id="guidConsulta" name="Guid" value="@Model.Guid" />

                    <div class="form-group row">
                        <div class="col-12">
                            <label>Cliente</label>
                            <input type="text" class="form-control" value="@Model.NomeCliente" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <label>Profissional</label>
                            <input type="text" class="form-control" value="@Model.NomeProfissional" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <label>Serviço</label>
                            <input type="text" class="form-control" value="@Model.NomeServico" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <label>Data Agendamento</label>
                            <input type="text" class="form-control" value="@Model.DataAgendamentoInicialFormatada" />
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-w-m btn-default float-right" id="btnFecharForm" data-dismiss="modal"><strong>Fechar</strong></button>
    </div>

</div>
